body {
    margin: 0px;
    font-family: "Geologica";
}

header {
    background-color:#552d71;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

header>nav, nav a{
    float: right;
    padding: 14px;
    color: white;
    display: flex;
}

nav a:hover {
    margin: 0px;
    padding: 14px;
    height: auto;
    border-radius: 10px;
    color: white;
    background-color: #7525c0;
}

.titrePage {
    font-size: xx-large;
    text-align: center;
    padding: 20% 10%;
}

.logo {
    padding: 10px 10px 8px 10px;
    width: 150px;
}

footer {
    color: white;
    padding: 40px;
    background-color: #552d71;
    max-width: 100%;
}
